<section class="favorite__view--section">
  <!-- use navigation in here -->
  <div class="favorite__view--section__navigation--box">
    <app-navigation></app-navigation>
  </div>

  <!-- favorite films view goes here -->
  <div class="favorite__view--section__favorite--films--box">
    <div class="favorite__view--section__favorite--films--box__heading--box">
      <h1>Your favorite films:</h1>
    </div>
    <!-- render all the liked films here -->
    <div class="favorite__view--section__favorite--films--box__view">
      <ng-container *ngIf="favoriteMoviesArray.length === 0">
        <p class="para--indication">
          Add some movies to your favorites list to view them here!
        </p>
      </ng-container>
      <div class="favorite__film--box" *ngFor="let film of favoriteMoviesArray">
        <img
          src="https://image.tmdb.org/t/p/original/{{ film.backdrop_path }}"
          alt="{{ film.title }}"
        />
        <div class="favorite__film--box__info--box">
          <div class="favorite__film--box__info--box__heading--box">
            <h1>
              {{ film.original_title }}
            </h1>
            <dx-button
              icon="info"
              (onClick)="onUserClickGetAdditionalInfo(film)"
            >
            </dx-button>
          </div>

          <dx-popup
            [width]="300"
            [height]="280"
            [showTitle]="true"
            title="Information of the movie"
            [dragEnabled]="false"
            [hideOnOutsideClick]="true"
            [showCloseButton]="false"
            [(visible)]="popupVisible"
          >
            <div *dxTemplate="let data of 'content'">
              <h1 class="popup--title">{{ selectedFilm.original_title }}</h1>
              <p class="popup--text">
                Total revenie: {{ selectedFilm.revenue }}$.
              </p>
              <p class="popup--text">Runtime: {{ selectedFilm.runtime }}min.</p>
            </div>
          </dx-popup>

          <p>
            Release date |
            {{ film.release_date }}
          </p>
          <div class="favorite__film--box__info--box__btn--box">
            <button class="btn btn--main">Watch</button>
            <button (click)="onUserDeleteFilm(film)" class="btn btn--secondary">
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <dx-toast [(visible)]="isVisible" [type]="type" [message]="message">
  </dx-toast>
</section>
