@use "../../style/scss/global-variables" as *;

.section--navigation {
  background-color: var(--background-color);

  &__links--box {
    &--links {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: font-size(font-size-regular);
      gap: 1rem;

      a {
        cursor: pointer;
        background-color: var(--main-color);
        padding: 1.2rem;
        border: none;
        border-radius: 4px;
        color: var(--background-color);
        font-size: font-size(font-size-small);
      }
    }
  }
}
