@use "../../style/scss/global-variables" as *;
@use "../../style/scss/mixins" as *;

.search__window__content--box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  @include media-tablet-big {
    grid-template-columns: repeat(1, 1fr);
  }

  .search__film--box {
    justify-self: center;
    max-height: 40rem;
    max-width: 30rem;
    min-height: 30rem;
    min-width: 10rem;
    background-color: #fef9e8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      height: 17.5rem;
      width: 100%;
    }

    &__info--box {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      padding: 1.2rem 2.4rem;
      height: 50%;
      width: 100%;

      @include media-medium-small {
        padding: 1rem;
      }

      h1 {
        font-size: font-size(font-size-regular);
        color: #333;
      }

      p {
        font-size: font-size(font-size-small);
        color: #333;
      }

      &__btn--box {
        @include flexbox--flex-start;
        gap: 1rem;

        .btn {
          padding: 1.2rem 2.4rem;
          font-size: 1.2rem;
          border-radius: 4px;
          border: none;
          cursor: pointer;

          @include media-medium-small-extra {
            padding: 1rem;
          }
        }

        .btn--main {
          background-color: var(--main-color);
          transition: all 0.35s;
        }

        .btn--main:hover,
        .btn--main:active {
          background-color: var(--main-color-darker);
        }

        .btn--secondary {
          transition: all 0.35s;
          background-color: var(--secondary-color);
        }

        .btn--secondary:hover,
        .btn--secondary:active {
          background-color: var(--main-color);
        }
      }
    }
  }
}
