<section class="home--section">
  <!-- render the nav in here -->
  <aside class="home--section__navigation">
    <app-navigation></app-navigation>
  </aside>
  <!-- render the other views in here -->
  <div class="home--section__main--content">
    <main>
      <ng-container *ngIf="searchSidebarOpenStatus">
        <!-- option 2 -->
        <div class="search__window">
          <div class="close--btn--box">
            <button (click)="onClickCloseSearchWindow()">
              <i class="dx-icon-arrowleft"></i>
            </button>
          </div>
          <div class="search__window__heading--box">
            <h1>Search results:</h1>
          </div>

          <div class="search__window__content--box">
            <div
              class="search__film--box"
              *ngFor="let film of searchResultsArray"
            >
              <img
                src="https://image.tmdb.org/t/p/original/{{
                  film.backdrop_path
                }}"
                alt="{{ film.title }}"
              />
              <div class="search__film--box__info--box">
                <h1>{{ film.title }}</h1>
                <p>Release date | {{ film.release_date }}</p>
                <div class="search__film--box__info--box__btn--box">
                  <button class="btn btn--main">Watch</button>
                  <button
                    (click)="getFilmDataOnUserClick(film)"
                    class="btn btn--secondary"
                  >
                    Add to favorite
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <dx-gallery
        #gallery
        id="gallery"
        [dataSource]="dataSource"
        height="100%"
        width="100%"
        [slideshowDelay]="slideshowDelay"
        [loop]="true"
        [showNavButtons]="false"
        [showIndicator]="false"
      >
        <div *dxTemplate="let filmItem of 'item'">
          <div class="gallery--div">
            <div class="film--info">
              <h1 class="custom--title">
                {{ filmItem.original_title }}
              </h1>
              <p class="release--date">
                Relese date |
                {{ filmItem.release_date }}
              </p>
              <div class="btn--box">
                <button class="btn btn--main">Watch</button>
                <button class="btn btn--secondary">Trailer</button>
                <a
                  (click)="getFilmDataOnUserClick(filmItem)"
                  class="icon--like--btn"
                >
                  <i class="dx-icon-like"></i>
                </a>
              </div>
              <div class="para--gallery--box">
                <p class="film--description">Description:</p>
                <p class="film--overview">{{ filmItem.overview }}</p>
              </div>
            </div>

            <img
              alt="{{ filmItem.title }}"
              src="https://image.tmdb.org/t/p/original/{{
                filmItem.backdrop_path
              }}"
            />
          </div>
        </div>
      </dx-gallery>
      <router-outlet></router-outlet>
    </main>
  </div>
</section>
